.imgFill {
  background-image: linear-gradient(to bottom, rgba(25, 64, 237, 0.9), rgba(85, 224, 203, 0.75)),
    url('https://images.pexels.com/photos/5466793/pexels-photo-5466793.jpeg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: 41.25rem 52rem;
}

.border {
  border: 1px solid rgb(219, 219, 219) !important;
}
