<div class="min-h-screen bg-gray-100 flex flex-col gap-4 items-center justify-center p-4">

  <div class="class">
    @if(error()){

    <div class="bg-white border border-gray-200 rounded-xl shadow-lg light:bg-neutral-800 dark:border-neutral-700"
      role="alert" tabindex="-1" aria-labelledby="hs-toast-error-example-label">
      <div class="flex p-4">
        <div class="shrink-0">
          <svg class="shrink-0 size-4 text-red-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z">
            </path>
          </svg>
        </div>
        <div class="ms-3">
          <p id="hs-toast-error-example-label" class="text-sm text-gray-700 dark:text-neutral-500">
            {{errorMsg()}}
          </p>
        </div>
      </div>
    </div>
    }

    @if(success()){

    <div class="border border-gray-200 rounded-xl shadow-lg light:bg-neutral-800 dark:border-neutral-700"
      role="alert" tabindex="-1" aria-labelledby="hs-toast-success-example-label">
      <div class="flex p-4">
        <div class="shrink-0">
          <svg class="shrink-0 size-4 text-teal-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
            </path>
          </svg>
        </div>
        <div class="ms-3">
          <p id="hs-toast-success-example-label" class="text-sm text-gray-700 dark:text-neutral-400">
            {{successMsg()}}
          </p>
        </div>
      </div>
    </div>
    }
  </div>


  <div class="w-full max-w-5xl bg-white rounded-2xl shadow-lg overflow-hidden grid grid-cols-1 md:grid-cols-2">

    <!-- Left Section -->
    <div class="hidden md:flex items-center justify-center bg-blue-500 p-10 imgFill">
      <div class="text-white text-center">
        <h2 class="text-3xl font-bold mb-4">Welcome Back👋</h2>
        <p class="text-blue-100">
          Login to access your dashboard 🔐
        </p>
      </div>
    </div>

    <!-- Right Login Form -->
    <div class="p-8 md:p-12">
      <h2 class="text-2xl font-bold text-gray-800 mb-6">
        Sign In
      </h2>

      <form class="space-y-5" [formGroup]="myForm">
        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Email </label>
          <input type="email" formControlName="email"
            [class.border-red-500]="myForm.get('email')?.invalid && myForm.get('email')?.touched"
            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required />

          @if(myForm.get('email')?.hasError('required')&& myForm.get('email')?.touched){
          <p class="text-xs text-red-500 mt-1">Email is required</p>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-600 mb-1">Password</label>
          <input type="password" formControlName="password"
            [class.border-red-500]="myForm.get('password')?.invalid && myForm.get('password')?.touched"
            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />

          @if(myForm.get('password')?.hasError('required')&& myForm.get('password')?.touched){
          <p class="text-xs text-red-500 mt-1">Password is required</p>
          }
        </div>

        <div class="flex items-center justify-end text-sm">
          <button (click)="openModal()" class="text-blue-600 hover:underline">
            Forgot password?
          </button>
        </div>

        @if (showForgotModal()) {
        <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">

          <div class="bg-white rounded-xl w-full max-w-md p-6 relative">

            <!-- Close -->
            <button (click)="closeModal()" class="absolute top-3 right-3 text-gray-500 hover:text-gray-700">
              ✕
            </button>

            <!-- Title -->
            <h2 class="text-xl font-semibold text-gray-800 mb-4">
              Forgot Password
            </h2>

            <p class="text-sm text-gray-500 mb-4">
              Enter your email to receive a reset link.
            </p>

            <!-- Email Input -->
            <input type="email"  placeholder="Enter your email" [value]="fwdEmail()"
              (input)="fwdEmail.set($any($event.target).value)" class="w-full border  text-md text-gray-500 rounded-lg px-4 py-2 mb-4
               focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <!-- Actions -->
            <div class="flex justify-end gap-3">
              <button (click)="closeModal()" class="px-4 py-2 text-gray-600 hover:text-gray-800">
                Cancel
              </button>

              <button (click)="sendResetLink()" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                Send Link
              </button>
            </div>
          </div>
        </div>
        }



        <button type="submit" (click)="onSubmit()"
          class="w-full bg-blue-600 text-white py-3 rounded-lg font-semibold hover:bg-blue-700 transition">
          Login
        </button>
      </form>

      <p class="text-sm text-center text-gray-500 mt-6">
        Don’t have an account?
        <a routerLink='/sign-up' class="text-blue-600 font-medium hover:underline">
          Sign up
        </a>
      </p>
    </div>

  </div>

</div>