.imgFill {
  background-image: url('../../assets/images/poster.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33rem;
}

.border{
    border: 1px solid rgb(219, 219, 219) !important;
}